

.subtitulo {
    font-style: italic;
    opacity: 0.9;
    font-weight: 300;
}

/* CONTENIDO PRINCIPAL */
.main-content {
    padding: 2rem 0;
}

.contenido-principal {
    margin: 2rem auto;
}

.contenido article {
    margin-bottom: 3rem;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}